@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <a asp-action="SignUp" class="btn btn-primary">Sign-Up</a>
        </div>
        <div class="col-md-2">
            <a asp-action="SignIn" class="btn btn-primary">Sign-In</a>
        </div>
        <div class="col-md-4"></div>
    </div>