@model GC_Lab_16._1.Models.User

@{
    ViewData["Title"] = "Sign Up";
}
    
<h1>@ViewData["Title"]</h1> 
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserPref" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" id="FirstName">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group" id="LastName">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group" id="Email">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span  class="text-danger"></span>
            </div>
            <div class="form-group" id="Password">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group" id="ConfirmPassword">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group" id="submitButton">
                <input type="button" value="Create" class="btn btn-primary" />
                <span class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

<script src="~/js/SignUpValidation.js"></script>